In [1]:
import sqlite3
db_path = '/home/yunus/simple_flask/test.db'
conn = sqlite3.connect(db_path)

In [20]:
dir(conn)
with conn as fd:
    qw = fd.execute('select * from Employee;')
#     qw = fd.execute('select * from Employee where SALARY between  and 5000 ;')
    for i in qw:
        print(i)

('1', 'yunu', 'moham@gmail.com', 12, 123, '9831231', 'qwewewe', 'b6158b8eb02c4b68b927a31b14ef6aae')

In [19]:

with conn as fd:
    qw = fd.execute('''CREATE TABLE Employee
          (ID varchar(10) NOT NULL,
          NAME           TEXT,
          email Varchar(40),
          AGE            INT,
          SALARY         INT,
          ADDRESS        VARCHAR(1000),
          Phone_no Varchar(20),
          emp_image Varchar(40) );''')
    print(qw)
    fd.commit()

<sqlite3.Cursor object at 0x7f49add75650>

AttributeError: 'sqlite3.Cursor' object has no attribute 'commit'

In [16]:
with conn as fd:
    for i in fd.execute('schema table Employee;'):
        print(i)

OperationalError: near "schema": syntax error

In [18]:
with conn as fd:
    for i in fd.execute('drop table Employee;'):
        print(i)
        print(dir(i))